* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: url("./background.png") no-repeat center center fixed;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

input {
    padding: 10px;
    width: 100%;
    max-width: 500px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(212, 212, 212);
    background-color: rgba(0, 0, 0, 0.72);
}

.display {
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
}

.upsight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#poke-pic {
    width: 100%;
    padding: 30px;
    height: auto;
}

.insight {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 16px;
    color: rgb(212, 212, 212);
    padding-top: 20px;
}

.stat {
    padding-top: 5px;
}

@media (min-width: 768px) {
    input {
        font-size: 25px;
    }

    .display {
        flex-direction: row;
    }

    .insight {
        font-size: 20px;
    }
}
